<form class="search-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="search-field" appearance="outline">
    <mat-label>City</mat-label>
    <input matInput [formControl]="control()" [placeholder]="placeholder()" />

    <button
      mat-icon-button
      matSuffix
      color="primary"
      type="button"
      (click)="onSubmit()"
      [disabled]="control().invalid"
    >
      <mat-icon>search</mat-icon>
    </button>

    @if (control().value) {
    <button
      mat-icon-button
      matSuffix
      color="warn"
      type="button"
      (click)="onClearInput()"
    >
      <mat-icon>close</mat-icon>
    </button>
    } 
    @if (control().hasError('required')) {
      <mat-error>City is required</mat-error>
    }
    @if (control().hasError('notFound')) {
      <mat-error>City not found</mat-error>
    }
    @if (control().hasError('apiError')) {
      <mat-error>Something went wrong, please try again</mat-error>
    }
  </mat-form-field>
</form>
