.favorite-cities-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.favorite-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 24px;
}

.favorite-city {
  margin-bottom: 32px;

  .favorite-city-name {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 8px;
    margin-bottom: 12px;
  }

  mat-icon {
    cursor: pointer;
  }
}
